body {
    margin: 0;
    font-size: 16px;
    font-family: 'Neue Hass Medium', sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: Sequoia;
    src: url(Sequoia-BF651e74b144a0b.otf);
}

@font-face {
    font-family: 'Neue Hass Medium';
    src: url(NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: 'Caslon';
    src: url(OPTICaslonFive.otf);
}

header {
    position: absolute;
    background-color: transparent;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    align-items: center;
    list-style-type: none;
    font-size: rem;
    width: 90%;
    margin: 0;
    color: whitesmoke;
}

.nav:hover {
    color: #464D60;    
    cursor: pointer;
}

.title {
    font-size: 3em;
    font-family: Sequoia, sans-serif;
}


.landing {
    background-image: url(Images/TTPD2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 47rem;
    color: rgb(217, 191, 172);
    font-family: Caslon, sans-serif;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
    
}

.slogan {
    width: 40%;
}

#ilove {
    position: relative;
    top: 25rem;
    left: 8rem;
}

#you {
    position: relative;
    top: 25rem;
    left: 13rem;
}

#its {
    position: relative;
    top: 25rem;
    left: 4rem;
}

#ruining {
    position: relative;
    top: 25rem;
    left: 15rem;
}

#mylife {
    position: relative;
    top: 25rem;
    left: 10rem;
}

.TTPD {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.TTPD h2 {
    margin-top: 1rem;
}

#countdown {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

.TTPD h1 {
    font-family: Caslon, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.TTPD img {
    width: 50%
}

.presave {
    display: flex;
    justify-content: center;
    width: 80%;
}

.presave button {
    padding: 1rem;
    border-radius: 2rem;
    margin: 2rem 1rem;
    width: 60%;
    border: none;
    background-color: #464D60;
    max-width: 20rem;
    color: whitesmoke;
}

.erastour {
    background-image: url(Images/TSTourFullBody.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 45rem;
    color: whitesmoke;
    padding: 4rem;
}

/* .erastourDates {
    background-color: antiquewhite;
} */

.erastour h1 {
    font-family: Sequoia, sans-serif;
    font-size: 3rem;
}

.tourDates {
    width: 100%;
}

.tourDates h2 { 
    margin:0;
}

.divider {
    border-bottom: 1px solid white;
    width: 100%;
    display: inline-block;
}

.location-tickets {
    display: flex;
    align-items: center;
    gap: 20%;
}

.tickets, .see-more-dates {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tickets:hover, .see-more-dates:hover {
    color: rgb(193, 96, 223);    
    cursor: pointer;
}


.erastour {
    display: flex;
    justify-content: space-between;
}

.erastour-video {
    display: flex;
    align-items: end;
    padding-right: 8rem;
}

iframe {
    height: 15rem;
    width: 25rem;
    resize: both;
    overflow: auto;
  }